<section class="forms-basic" ng-controller="ChangePassword">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      ChangePassword
    </h1>
  
  </div>

  <div class="row ">
   
      <div class="well white">
        <form class="form-floating" ng-submit="saveItem()">
          <fieldset>
            <legend>ChangePassword  form</legend>
            <span class="help-block">Please fill out the following form below.</span>
            <div class="form-group">
              <label for="inputEmail" class="control-label">oldpassword</label>
              <input type="text" class="form-control" ng-model="oldpassword">
            </div>

            <div class="form-group">
              <label for="inputPassword" class="control-label">newpassword</label>
              <input type="password" class="form-control" id="inputPassword" ng-model="newpassword">
            </div>

           

            <div class="form-group">
			
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>