<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="saveItem(item)">
        <fieldset>
          <legend><span ng-bind-html="item.icon"></span> {{cmd}} {{settings.singular}}</legend>

          <div class="form-group filled">
            <label class="control-label">id</label>
            <input type="text" class="form-control" ng-model="item.id" ng-disabled="!item.editing" required>
          </div>

          <div class="form-group filled">
            <label class="control-label">name</label>
            <input type="text" class="form-control" ng-model="item.name" ng-disabled="!item.editing">
          </div>

          <div class="form-group filled">
            <label class="control-label">description</label>
            <input type="text" class="form-control" ng-model="item.description" ng-disabled="!item.editing">
          </div>

          <div class="form-group filled">
            <label class="control-label">price</label>
            <input type="text" class="form-control" ng-model="item.price" ng-disabled="!item.editing">
          </div>

          <div class="form-group filled">
            <label class="control-label">duration</label>
            <input type="text" class="form-control" ng-model="item.duration" ng-disabled="!item.editing">
          </div>

          <div class="form-group filled">
            <label class="control-label">Gender</label>
            <input type="text" class="form-control" ng-model="item.gender" ng-disabled="!item.editing">
          </div>

          <div class="form-group filled">
            <label class="control-label">category_name</label>
            <input type="text" class="form-control" ng-model="item.category_name" ng-disabled="!item.editing">
          </div>

        

          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>