<section>
  <div class="page-header">
      <h1>
      <i class="md md-camera"></i>
      User Detail
    </h1>

  </div>
</section>

<div ng-controller="UserController">

    <div class="table-responsive well no-padding white no-margin">
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <tbody>
          <tr>
            <td>First Name: {{firstname}}</td>
          </tr>
          <tr>
            <td>Last Name: {{lastname}}</td>
          </tr>
          <tr>
            <td>email: {{email}}</td>
          </tr>
          <tr>
            <td>Date of Birth: {{dob}}</td>
          </tr>
          <tr>
            <td>gender: {{gender}}</td>
          </tr>
          <tr>
            <td>phone: {{phone}}</td>
          </tr>
          <tr>
            <td>city: {{city}}</td>
          </tr>
          <tr>
            <td>address: {{address}}</td>
          </tr>
          <tr>
            <td>zip: {{zip}}</td>
          </tr>
          
          <tbody>
          <tr ng-repeat="(key, item) in data" ng-click="item.selected=item.selected"  ng-dblclick="editItem(item)">
           
            
          <!--  <td>{{ item.firstname }}</td>
            <td>{{ item.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.dob }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.zip }}</td>-->

            <td class="text-right" ng-click="$event.stopPropagation()">
               <button type="button" class="btn btn-link btn-round" data-title="Edit item"  ng-click="editItem(item)"><i class="md md-edit"></i></button>
            </td>
          </tr>
        </tbody>
        
        </tbody>
      </table>
    </div>

    
</div>
